:root {

    /* PRIMARY COLORS */
    --peach: hsl(11, 73%, 66%);
    --black: hsl(270, 3%, 11%);
    --white: hsl(0, 0%, 100%);

    /* SECONDARY COLORS */
    --light-peach: hsl(11, 100%, 80%);
    --xtr-light-peach: hsl(14, 76%, 97%);
    --dark-grey: hsl(264, 5%, 20%);
    --light-grey: hsl(210, 17%, 95%);

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    /*****************Remove*****************/
    max-width: 375px;
    border: 1px solid var(--dark-grey);
    /****************************************/
    margin: 0 auto;
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    line-height: 26px;
}

section {
    margin-bottom: 120px;
}

p {
    line-height: 26px;
    text-align: center;
    color: var(--dark-grey);
}

/************************************************** 
    HEADER SECTION
**************************************************/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: none;
}

.logo {
    background-image: url("../img/shared/desktop/logo-dark.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 202px;
    height: 27px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 14px;
}

/* Navigation menu for mobile devices */

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 24px;
}

.hamburger-menu {
    background-image: url("../img/shared/mobile/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 20px;
}

/************************************************** 
    HERO SECTION
**************************************************/

.hero {
    width: 375px;
    height: 843px;
    background-color: var(--peach);
    background-image: url("../img/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
}

.hero-content {
    padding: 80px 24px;
}

h1 {
    font-size: 2rem;
    line-height: 36px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    margin-bottom: 14px;
}

.hero-content p {
    font-size: 0.9375rem;
    line-height: 25px;
    color: var(--white);
    margin-bottom: 24px;
}

.btn {
    width: 152px;
    height: 56px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    border: none;
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--dark-grey);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    margin: -160px -121px;
}

/************************************************** 
    PROJECT LINKS SECTION
**************************************************/

.content-wrapper {
    margin: 0 24px;
}

.web-design,
.app-design,
.graphic-design {
    background-repeat: no-repeat;
    background-position: contain;
    width: 327px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.web-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.497), rgba(0, 0, 0, 0.5)), url("../img/home/mobile/image-web-design.jpg");
    margin-bottom: 24px;
}

.app-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.497), rgba(0, 0, 0, 0.5)), url("../img/home/mobile/image-app-design.jpg");
    margin-bottom: 24px;
}

.graphic-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.497), rgba(0, 0, 0, 0.5)), url("../img/home/mobile/image-graphic-design.jpg");
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 12px;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 197px;
}

.link a {
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
}

.arrow {
    background-image: url("../img/shared/desktop/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: contain;
    width: 8px;
    height: 11px;
}

/************************************************** 
    VALUES SECTION
**************************************************/

.value {
    width: 327px;
    height: 412px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration-1,
.illustration-2,
.illustration-3 {
    background-image: url("../img/shared/desktop/bg-pattern-small-circle.svg");
    background-repeat: no-repeat;
    background-position: contain;
    width: 202px;
    height: 202px;
}

.illustration-2 img {
    transform: rotate(90deg);
}

.illustration-2 {
    transform: rotate(270deg);
}

.illustration-3 img {
    transform: rotate(270deg);
}

.illustration-3 {
    transform: rotate(90deg);
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-grey);
    margin: 48px 0 32px;
}

.value:nth-of-type(2) {
    margin: 80px 0;
}

/************************************************** 
    CALL TO ACTION & FOOTER SECTION
**************************************************/

/* Call to action */

article {
    position: absolute;
    top: 3494px;
    z-index: 1;
}

.container {
    background-color: var(--peach);
    background-image: url("../img/shared/desktop/bg-pattern-call-to-action.svg");
    background-repeat: no-repeat;
    background-position: 43%;
    width: 327px;
    height: 379px;
    border-radius: 15px;
    margin: 0 24px;
    z-index: 1;
}

.cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 279px;
    margin: 0 auto;
    padding: 64px 0;
}

.cta-content h2 {
    text-align: center;
    text-transform: none;
}

.cta-content p {
    font-size: 0.9375rem;
    line-height: 25px;
    color: var(--white);
    margin-bottom: 32px;
}

/* Footer */

footer {
    background-color: var(--black);
    width: 375px;
    height: 815px;
    margin-top: 311px;
}

.content-wrapper .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 253px;
}

.footer .logo {
    background-image: url("../img/shared/desktop/logo-light.png");
    margin-bottom: 32px;
}

.divider {
    width: 327px;
    height: 1px;
    background: var(--white);
    opacity: 0.1;
    margin-bottom: 32px;
}

.footer-menu {
    margin-bottom: 8px;
}

.footer-menu ul {
    font-size: 0.875rem;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.footer-menu ul li {
    padding-bottom: 32px;
}

.footer-menu ul li a {
    color: var(--white);
}

footer p { 
    color: var(--white);
    opacity: 0.5035;
    margin-bottom: 40px;
}

.address span,
.contact-info span {
    line-height: 26px;
    color: var(--white);
    opacity: 0.5035;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    width: 184px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: contain;
}

.facebook {
    background-image: url("../img/shared/desktop/icon-facebook.svg");
    width: 24px;
    height: 24px;
}

.youtube {
    background-image: url("../img/shared/desktop/icon-youtube.svg");
    width: 24px;
    height: 24px;
}

.twitter {
    background-image: url("../img/shared/desktop/icon-twitter.svg");
    width: 24px;
    height: 19.5px;
}

.pinterest {
    background-image: url("../img/shared/desktop/icon-pinterest.svg");
    width: 24px;
    height: 24px;
}

.instagram {
    background-image: url("../img/shared/desktop/icon-instagram.svg");
    width: 24px;
    height: 24px;
}