:root {

    /* PRIMARY COLORS */
    --peach: hsl(11, 73%, 66%);
    --black: hsl(270, 3%, 11%);
    --white: hsl(0, 0%, 100%);

    /* SECONDARY COLORS */
    --light-peach: hsl(11, 100%, 80%);
    --dark-grey: hsl(264, 5%, 20%);
    --light-grey: hsl(210, 17%, 95%);

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    line-height: 26px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: none;
}

.logo {
    background-image: url("../img/shared/desktop/logo-dark.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 202px;
    height: 27px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 14px;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 24px;
}

.hamburger-menu {
    background-image: url("../img/shared/mobile/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 20px;
}

